<div id="comments-list">
    {{#commentDTOS}}
        <div class="card m-2" id="comments-{{id}}">
            <div class="card-header">
                {{nickname}}
                <!--                수정 버튼을 넣을 위치-->
                <!-- Button trigger modal -->
                <button type="button"
                        class="btn btn-sm btn-outline-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#comment-edit-modal">수정
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="comment-edit-modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">댓글 수정</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
<!--                            댓글 수정 폼-->
                            <form>
                                <!--            닉네임 입력-->
                                <div class="mb-3">
                                    <label for="edit-comment-nickname" class="form-label">닉네임</label>
                                    <input type="text" class="form-control" id="edit-comment-nickname">
                                </div>
                                <!--            댓글 본문 입력-->
                                <div class="mb-3">
                                    <label for="edit-comment-body" class="form-label">댓글 내용</label>
                                    <textarea class="form-control" rows="3" id="edit-comment-body"></textarea>
                                </div>
                                <!--            히든 인풋-->
                                    <input type="hidden" id="edit-comment-id" >
                                    <input type="hidden" id="edit-comment-article-id" >
                                <!--            전송버튼-->
                                <button type="button" class="btn btn-primary" id="comment-update-btn">수정 완료</button>
                            </form>
<!--                            댓글 수정 폼 끝-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentDTOS}}
</div>